<!DOCTYPE html>

<html lang="en">

<html>

<head>
    <title>Yohann Morits | Netherveil</title>

    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../games/gamestyle.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">

    <header class="header">
        <div style="font-size: 28px;">Yohann Morits</div>
        <nav class="nav-buttons">
            <a class="navigation-buttons" href="../index.html">Home</a>
            <a href="../games.html">Games</a>
            <a href="../projects.html">Projects</a>
            <a href="../aboutme.html">About Me</a>
        </nav>
    </header>
</head>

<body>
    <div class="game-header">
        <img class="thumbnail" src="../thumbnails/horizontal/netherveil.png">
        <div class="game-title">
            Name
            <div style="font-size: 18px; margin-top: 6px; text-indent: 2px;">Solo Project</div>
        </div>

        <div class="resources-container">
            <div class="resource">
                <div>Trailer</div>
                <a href="https://www.google.com" style="font-size: 0;" target="_blank" rel="noopener noreferrer">
                    <img src="../logos/youtube.png" class="resource-img">
                </a>
            </div>
            <div class="resource">
                <div>Source code</div>
                <a href="https://www.google.com" style="font-size: 0;" target="_blank" rel="noopener noreferrer">
                    <img src="../logos/github.png" class="resource-img">
                </a>
            </div>
        </div>

        <div class="header-bottom">
            <div>
                Game type / Language / Motor
            </div>
            <div class="game-info">
                <div class="game-date">Months - Year</div>
                <a href="https://www.google.com" style="font-size: 0;" target="_blank" rel="noopener noreferrer">
                    <img src="../logos/download.png" class="download-button">
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="field">
            Overview
        </div>
        <div class="field">
            My personnal satisfaction
        </div>
        <div class="field" style="margin-bottom: 0;">
            <b>Software used</b> : 
            <br>
            <b>Skills involved</b> :
        </div>
    </div>
</body>

<footer class="footer">
    <div class="contact-me">Find me here!</div>
    <div class="link-container">
        <a href="https://www.linkedin.com/in/yohann-morits/" target="_blank" rel="noopener noreferrer">
            <img src="../logos/linkedin.png" class="link-logo">
        </a>
        <a href="https://yhnnlr.itch.io/" target="_blank" rel="noopener noreferrer">
            <img src="../logos/itchio.png" class="link-logo">
        </a>
        <a href="https://github.com/yhnnlr" target="_blank" rel="noopener noreferrer">
            <img src="../logos/github.png" class="link-logo">
        </a>
    </div>
    <div>
        Or send me an e-mail : <a class="email"
            href="mailto:yohann.morits.pro@gmail.com">yohann.morits.pro@gmail.com</a>
    </div>
</footer>

</html>